.todo {
  width: 100%;
  font-family: sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

.todoText {
  cursor: pointer;
}

.todo.completed {
  text-decoration: line-through;
}

.deleteButton {
  background-color: #ff4949;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
}
